*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li{
    padding: 10px 0 10px 0;
}

.font{
    font-family: 'Inter', sans-serif;
}
.titles{
    font-size: larger;
    font-weight: bold;
}

.bg-white{
    background-color: white;
    box-shadow: 10px 10px 30px rgba(148, 147, 147, 0.785);
}

.bg-grey{
    background-color: rgb(227, 223, 223);
}

main {
    padding: 30px;
    font-family: "Poppins";
}
a.btn {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 27px;
    margin: 15px;
    display: inline-block;
}
.task{
    background-color: rgb(20,170,245,255);

}
.section{
    background-color: rgb(255, 255, 255);
}

a.ind {
    text-decoration: none;
    color: black;

}

a.btt {
    text-decoration: none;
    color: #000000;
    padding: 0px 5px;
    border-radius: 27px;
    margin: 15px;
}
.ed{
    background-color: rgb(9,169,237,255);
}

.gg{
    background-color: rgba(171,93,230,255);
}

.rec{
    background-color: rgba(44,198,171,255);
}

.mob{
    background-color: rgba(255,155,0,255);
}

.web{
    background-color: rgba(236,74,157,255);
}

.sale{
    background-color: rgba(163,209,22,255);
}
.m20{
    margin:30px 200px 0 200px;
    border-radius: 1%;
}